body {
    font-family: Arial, sans-serif;
    background-color: #f7f8f8;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #0969c2;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
.btn-success {
      display: inline-block;
    margin: 20px auto;
    padding: 12px 26px;
    background: linear-gradient(135deg, #6ab7ff, #4a90e2);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 6px 15px rgba(74, 144, 226, 0.4);
    transition: all 0.3s ease;
}


.btn-success:hover {
   transform: translateY(-3px) scale(1.05);
    box-shadow: 0 12px 25px rgba(74, 144, 226, 0.6);
}
.btn-supprimer {
    background: linear-gradient(135deg, #8dbcf1, #5c15cf);
    color: white;
    padding: 7px 14px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
    transition: all 0.25s ease;
}

.btn-supprimer:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(11, 42, 61, 0.5);
}
.btn-modifier {
    background: linear-gradient(135deg, #f6b93b, #f39c12);
    color: white;
    padding: 7px 14px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 6px;
    display: inline-block;
    transition: all 0.25s ease;
}

.btn-modifier:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(29, 18, 1, 0.5);
}
.btn-secondary{
      display: inline-block;
    margin: 20px auto;
    padding: 12px 26px;
    background: linear-gradient(135deg, #6ab7ff, #4a90e2);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 6px 15px rgba(74, 144, 226, 0.4);
    transition: all 0.3s ease;
}
.btn-secondary:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 12px 25px rgba(74, 144, 226, 0.6);
}
form {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.4);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f8f8;
    margin-left: 260px; /* largeur sidebar */
    padding: 20px;
}
/* =====================
   MODAL MODIFIER
===================== */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease;
    
}

.modal-content {
    background: white;
    padding: 80px;
    width: 50%;
    border-radius: 12px;
    animation: slideDown 0.4s ease;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.close {
    float: right;
    font-size: 22px;
    cursor: pointer;
    color: #999;
}

.close:hover {
    color: red;
}

@keyframes fadeIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

@keyframes slideDown {
    from { transform: translateY(-20px); }
    to { transform: translateY(0); }
}








